
/* GLOBAL */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --darkblue: #3131cf;
}

h2,
h3,
h4{
    color: var(--darkblue)
}

/* HEADER */

.header{
    background-color: var(--darkblue);
    color: white;
    height: 7.5rem;
    margin: 0 auto;
    
}

.header h1{
    display: inline-block;
    font-size: 4rem;
    margin-top: 3.5rem;
}

.header nav{
float: right;
padding-top: .5rem;

}

.header nav ul li {
color: rgb(247, 247, 247);
display: inline-block;
margin-left: .5rem;
margin-right: .5rem;
font-size: 1.5rem;
margin-top: 5rem;
}

.header a{
    color: white;
    text-decoration: none;
}

/* MAIN  */
        /* ASIDE */
.titles{
    padding-right: 20px;
    margin: o;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    text-align: right;
}

.aside1{
    position: relative;
    top: 5rem;
    left: 2rem;
    font-size: 4rem;
}

.aside2{
     position: relative;
     top: 25rem;
     left: 2rem;
     font-size: 4rem;
}
    
.aside3{
     position: relative;
     left: 2rem;
     top: 150rem;
     font-size: 4rem;
}

section{
    background-color:rgb(252, 247, 240) ;
    border-left: solid 2px var(--darkblue);
}

        /* ABOUT ME */
.about-me{
    font-size: 2rem;
    padding: 3rem 0 4rem 8rem;
    
}

        /* PROJECT */
.content {
    width: 75%;
    display: inline;
    float: right;
    margin-left: 20px;
   
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.main-project{
    text-align: center;
}

.projects-column{
    flex: wrap;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    
     
}

.main-project .card-header{
    position: relative;
    margin: -4rem 0 1,5rem 0;
    padding: 0.5rem 1rem;
    background-color: red;
    border: 2px solid black;
    border-radius: 8px;
    width: 9rem;
}

.project-card .card-header{
    position: relative;
    margin: -4rem 0 1,5rem 0;
    padding: 0.5rem 1rem;
    background-color: red;
    border: 2px solid black;
    border-radius: 8px;
    width: 9rem;

}

.imgsize{
    width: 25rem;
    height: 25rem;
}


/* FOOTER */
footer section{
    width: 75%;
    float: inline-end;
    display: inline;
    margin: auto 0;
    padding-top: 2rem; ;
    background-color: var(--darkblue);
}

.contact-info ul li,
.contact-info a{
    display: inline;
    margin: 0 2rem;
    color: rgb(236, 229, 229);
    float: right;
    font-size: 2rem;  
    text-decoration: none;
    background-color: var(--darkblue);

}



